:root {
  --font_color: blue;
}

body{
    color: white;
    background: rebeccapurple;
    //background-image: url('../static/images/1.jpg');

}


.search-box{
    background: white;
    color: var(--font_color);

}



.parallax {
    background-image: url("https://picsum.photos/id/42/3456/2304");
    height: 250px;
    width: 100% ;
    text-align: center;
    color:white;
    font-family: monospace ;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

   .sgv_divider {
    width: 65px;
    height: 2px;
    //background: #333;
    margin: 20px auto;
    box-shadow: 0 8px 6px -6px black;
}