:root {
  --font_color: white;
  --primary_color: rebeccapurple;
}

body{
    color: var(--primary_color);
    background: #f7f7f9;
    //background-image: url('../static/images/1.jpg');

}

navbar{
    background: rebeccapurple;
}

.search-box{
    background: var(--primary_color);
    color: var(--font_color);
    font-family: unset;
    font-size: 1.5rem;
    opacity: 0.8;
    //background-image: url('../../images/ota/3.jpg');

}

#header{
background-image: url('../../images/ota/3.jpg');
}


.parallax {
    background-image: url("https://picsum.photos/id/42/3456/2304");
    height: 250px;
    width: 100% ;
    text-align: center;
    color:white;
    font-family: monospace ;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.sgv_divider {
    width: 65px;
    height: 2px;
    //background: #333;
    margin: 20px auto;
    box-shadow: 0 8px 6px -6px black;
}

.itinerary_container{
    color:black;
    background-color:white;
    width=80%
    margin: 20px auto;
    box-shadow: 0 8px 6px -6px black;

}