{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{% load plotly_dash %}


<link rel="stylesheet" href="{% static 'css/master.css' %}">
{% block content %}
  <div class="container">
    <div class="col-xs-12">
      <h2>Shopping Analysis - {{dashboard.title}}</h2>
      <div class="col-xs-8">
        <h4>{{dashboard.description}}</h4>
      </div>
    </div>



    <h4>../{{dashboard.bfml_file.url}}</h4>
    <h6><a href="../../../{{dashboard.bfml_file.url}}" download>Download File</a></h6>
  </div>


  {%if app %}
  <div class="cl">
    {% plotly_app name="dash2" ratio=1   %}
  </div>

  {%else %}
    <p>We couldn't load the Dashboard. Please check.</p>
  {% endif %}
{% endblock %}
