
{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

  <div class="container">
    <h1>Summary Dashboards</h1>
    <div class="col-md-8">
      <a href="{% url 'dashboard:summary_new' %}">Create New Summary Dashboard</a>
    <div/>
    <div class="col-md-8">
    	<ul>
        {% for dash in summarydashboard_list %}
        <li class="group li-with-bullet">
					<a href="{% url 'dashboard:summary_view' pk=dash.pk %}">{{dash.id}} - {{dash.description}}</a>
				</li>
        <a href="#"></a>
    	{% endfor %}
      </ul>
    
    </div>
  </div>

{% endblock %}
