<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en" dir="ltr">
  <head>
      {% load plotly_dash %}
      {% plotly_header %}
    <meta charset="utf-8">
    {% block title %}<title>River</title>{% endblock %}
      <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'images/river_ico.jpg' %}" />

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <!--jQuery-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

     <!-- amCharts -->
     <script src="https://www.amcharts.com/lib/4/core.js"></script>
     <script src="https://www.amcharts.com/lib/4/charts.js"></script>
     <script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
     <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Mukta+Mahee|Pacifico|Shadows+Into+Light" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Cinzel|Concert+One|Indie+Flower&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Amiko|Bungee+Shade|Concert+One|Frijole|IM+Fell+English|Scope+One|Special+Elite&display=swap" rel="stylesheet">

     <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
     <!-- Custom CSS -->
     <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">


      <!-- Custom js -->
      <script src="{% static 'js/generic.js' %}"></script>




  </head>
  <body >

    <nav class="navbar navbar-expand-lg sgv-navbar" >
         <div class="col-sm-6">
           <a href="{% url 'index'%}">
               <img src="{% static 'images/river_ico.jpg' %}"  height="42" width="42" alt="oops.."/>
           </a>
         </div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
             {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'hello_app:logout' %}">Login</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'hello_app:user_login' %}">Login</a></li>

              {% endif %}

             <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
             <li class="nav-item"><a class="nav-link" href="{% url 'basic_dash:index' %}">app2</a></li>




           </ul>
           <!--form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </form-->
         </div>
       </nav>
    {% block content %}
    {% endblock %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted"> - by:SGV - </span><br>
        <span class="text-muted">{% now "SHORT_DATETIME_FORMAT" %}</span><br>
          <a href="{% url 'hello_app:bye' %}">Bye</a> |
          <a href="{% url 'admin:index' %}">Admin</a>
      </div>
    </footer>
  </body>
    {% plotly_footer %}
</html>

