{% load static %}

<footer class="sticky-footer bg">
<div class="col">
  <a class="navbar-brand" href="{% url 'ota:index' %}"><i class="fas asd"><img src="{% static 'images/ota/dragonfly_ico.svg' %}" alt="" style="height:100px;height:100px"> </i> </a>
  <span style="font-size:3rem">Dragonfly</span> <a href="https://www.facebook.com/Dragonfly-Travel-106244977803927/"><img src="{% static 'images/ota/fb_white.svg' %}" alt="" style="height:25px;height:25px"></a> <img src="{% static 'images/ota/ig_white.svg' %}" alt="" style="height:25px;height:25px"> <img src="{% static 'images/ota/tw_white.svg' %}" alt="" style="height:25px;height:25px"><br>
  <a href="https://developer.sabre.com/home">Powered by Sabre</a>
  <br><span> 2020 - Dragonfly Travel all rights reserved</span>

  <br>
  <hr>
  <li><a href="https://www.djangoproject.com/">Developed in Django</a></li>
  <li><a href="https://getbootstrap.com/">We use Bootstrap for amazing layouts and stylings</a></li>
  <li><a href="https://fontawesome.com/">We use Fontawesome for our Fonts</a></li>
  <li><a href="https://picsum.photos/">We use Picsum for our pic galleries</a></li>
  <li><a href="https://free-icon-rainbow.com/">We use Fre icon Rainbow for our icons</a></li>


</div>


  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
    </div>

    <div class="row"></div>
    <div class="row"></div>
  </div>
  <div class="container my-auto">
    <div class="copyright text-center my-auto" style="">

      <span class=""><a href="emailto:sgvolpe@gmail.com"> by SGV </a>  </span>
    </div>
  </div>
</footer>