{% extends 'ota/base.html' %}
{% load static %}
{% block title %}
    <title>Reservation Details: {{reservation.pk}}</title>
{% endblock %}
{% load extra_tags %}
{% block content %}
<div class="container-fluid">
        {% if ERROR %}
            Sorry! {{ERROR}}
        {% else %}
        <div class="row">
        <div class="col-6">
             <div class="row">
                <div class="col" >
                    {% include 'ota/passenger_form.html' with passengers=passengers credit_card='No' %}
                    <div class="sgv_divider"></div>
                </div>
                <div class="sgv_divider"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col" >
                    {% include 'ota/itinerary_tag.html' with itin_id=itin_id itinerary=itinerary checkout='No'%}
                    <div class="sgv_divider"></div>
                </div>
                <div class="sgv_divider"></div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

    {% endif %}



    <div class="row">
        We are a Travel Agency
    </div>

</div>




<script>




    console.log('End') ;

</script>
{% endblock %}

