<div class="col card search-box">

        <div class="row">
           <div class="col">
               <form method="GET" action="{% url 'ota:search' %}" id="search-form">
                   {% csrf_token %}
                   <div class="form-row">
                      <div class="form-group col-md-4">
                      <label for="input_origin">Origin</label>
                      <input type="text" class="form-control" id="input_origin" name="ori" placeholder="Origin" value="MVD">
                      <label for="input_start_date">Start Date</label>
                      <input type="date" class="form-control" id="input_start_date" name="sta" placeholder="Password">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="input_destination">Destination</label>
                      <input type="text" class="form-control" id="input_destination" name="des" placeholder="Password" value="BUE">
                        <label for="input_start_date">Return Date</label>
                      <input type="date" class="form-control" id="input_end_date" name="ret" placeholder="Password">
                    </div>
                    <div class="form-group col-md-4">

                    </div>
                      <div class="form-group col-md-4">
                    </div>
                  </div>
                  <button id="submit-btn" type="submit" class="btn btn-dark btn-lg">Search</button>
                   <div class="sgv_divider"></div>
                </form>
           </div>
        </div>
        <div class="row">

        </div>
        <div class="row"></div>

    </div>