
body {
  background-color:#e2e0e0;/*#57817f ;*/
  color: #57817f ;
  background-top: 10px;
  background-repeat: no-repeat;
  background-position: center;

  font-family: 'Amiko', sans-serif;
}

.card{margin: auto; width:90%;height:90%;}